$padding25 : 25px;
$padding10 : 10px;
$marginmiddle : 0 auto;
$defaultwidth: 960px;
$padding50 : 50px;
$defaultfontsize : 1.6em;
$h3fontsize : 1.4em;
$marginleft30 : 30px;
$marginleft20 : 20px;


body{
  font-family: 'Montserrat', sans-serif;
  font-size: $defaultfontsize;
  width: $defaultwidth;
  margin: 0 auto;
  background-color: #5b5b5c;
  color: white;
}

.menu{
  display: block;
  width: 350px;
  margin: $marginmiddle;
}

nav > ul > li{
  padding-top: 25px;
  display: inline-block;
  width: 100px;
}

nav > ul > li > a{
  text-decoration: none;
  color: white;
}

nav > ul > li > a:hover {
  color: #3e3e3e;
}


.active a{
  color: black;
  width: 100%;
  margin: $marginmiddle;
}

.content{
  width: $defaultwidth;
  height: 100%;
  display: block;
  margin: $marginmiddle;
  padding-top: $padding50;
}

.content > h3{
  font-size: $h3fontsize;
  padding-bottom: $padding25;
}

.content > ul{
  margin-left: $marginleft30;
  padding-bottom: $padding10;
}

.content > p{
  margin-left: $marginleft20;
  padding-bottom: $padding10;
}


