<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sharkfrenzy</title>
    <link rel="stylesheet" href="/stylesheets/reset.css"/>
    <link rel="stylesheet" href="/stylesheets/main.min.css"/>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
    <script src="/js/sharkFrenzyGame.js"></script>
    <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/js/jquery.leanModal.min.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>

</head>
<body>
<nav class="menu">
    <ul>
        <li class="active">Play</li>
        <li><a href="/users/shop">Shop</a></li>
        <li><a href="/users/howto">How to</a></li>
    </ul>
    <a id="modal_trigger" href="#modal" class="btn">Login</a>
    <a href="/users/logout" id="logout" style="display: none;" class="btn">Logout</a>
</nav>

<!-- inlog button and box-->
<div id="modal" class="popup_container" style="display:none;">
    <header class="popup_header">
        <span class="header_title">Login</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popup_body">
        <!-- Social Login-->
        <div class="social_login">
            <div class="">
                <a href="#" class="social_box fb">
                    <span class="icon"><i class="fa fa-facebook"></i></span>
                    <span class="icon_title">Login with Facebook</span>

                </a>
            </div>

            <div class="center_text">
                <span>Or use your username</span>
            </div>
            <div class="action_btns">
                <div class="btn_inlog"><a href="#" id="login_form" class="btn">Login</a></div>
            </div>
        </div>

        <!-- Username Login-->
        <div class="user_login">
            <form method="post" action="/users/login" >
                <label>Username</label>
                <input type="text" id="loginUsername" name="username"/>
                <br>
                <div class="action_btns">
                    <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                    <div class="one_half last"><button type="submit" class="btn btn_red" onclick="login()">Login</button></div>
                </div>
            </form>
        </div>
    </section>
</div>

<!--<audio id="background_audio" autoplay="autoplay" loop>
    <source src="/assets/sounds/sea.mp3" />-->
</audio>
<audio id="bite_audio">
    <source src="/assets/sounds/bite.wav" />
</audio>
<div id="mute"><i id="soundicon" class="fa fa-volume-up"></i></div>
<canvas id="gameCanvas" style="display: none"></canvas>
<section id="chatsectie">
    <div class="div_chat">
        <button class="btn_chat" id="btn_chat" onclick="toggle_div_chat ('chatsection');">Chat</button>
        <section style="display: none" class="chat_window" id="chatsection">
            <div id="messages">

            </div>
            <input id="inpClient" type="text"/>
        </section>
    </div>
</section>
<script type="text/javascript">
    $("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

    $(function(){
        // Calling Login Form
        $("#login_form").click(function(){
            $(".social_login").hide();
            $(".user_login").show();
            return false;
        });

        // Going back to Social Forms
        $(".back").click(function(){
            $(".user_login").hide();
            $(".social_login").show();
            $(".header_title").text('Login');
            return false;
        });

    })
</script>
</body>
</html>