<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A multiplayer game built using HTML5 canvas and WebSockets</title>
    <link rel="stylesheet" href="/stylesheets/reset.css"/>
    <link rel="stylesheet" href="/stylesheets/main.min.css"/>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
    <script src="/js/sharkFrenzyGame.js"></script>
</head>
<body>
<nav class="menu">
    <ul>
        <li class="active">Play</li>
        <li><a href="/users/shop">Shop</a></li>
        <li><a href="/users/howto">How to</a></li>
    </ul>
    <!--<a id="modal_trigger" href="#modal" class="btn">Login</a>-->
</nav>

<!--<audio id="background_audio" autoplay="autoplay" loop>
    <source src="/assets/sounds/sea.mp3" />-->
</audio>
<audio id="bite_audio">
    <source src="/assets/sounds/bite.wav" />
</audio>
<div id="mute"><i id="soundicon" class="fa fa-volume-up"></i></div>
<canvas id="gameCanvas"></canvas>
<section id="chatsectie">
    <div class="div_chat">
        <button class="btn_chat" onclick="toggle_div_chat ('chatsection');">Chat</button>
        <section style="display: none" class="chat_window" id="chatsection">
            <div id="messages">

            </div>
            <input id="inpClient" type="text"/>
        </section>
    </div>
</section>
<script>
    initGame();
</script>
</body>
</html>