body {
	overflow: hidden;
}

canvas {
	display: block;
	border:1px black solid;
	margin:auto;
}

#menuGame{
	display:block;
	width: 300px;
	height: 200px;
	margin: auto;
	padding:50px;
}

.btnMenu{
	margin: 0 auto;
	height: 50px;
	width: 150px;
	color: #0000fe;
	padding: 20px;
}