.menu{
    margin: 20px auto;
}

.menu ul li{
    text-transform: uppercase;
    width: auto;
    padding: 10px;
    background-color: #FA6900 ;
    border-radius: 10px;
}

.menu ul li a.active{
    color: #363842;
}

.menu ul li a:hover{
    color: #363842;
}

body{
    
    background-image: url("http://i.imgur.com/uLpkRy8.png");
    background-repeat: space;
}

.items{
    background-color: #79797a;
}

.menu{
    margin: 20px auto;
}

.menu ul li{
    text-transform: uppercase;
    width: auto;
    padding: 10px;
    background-color: #FA6900 ;
    border-radius: 10px;
}

.menu ul li a.active{
    color: #363842;
}

.menu ul li a:hover{
    color: #363842;
}

body{
    
    background-image: url("http://i.imgur.com/uLpkRy8.png");
    background-repeat: space;
}

.items{
    background-color: #79797a;
}

.content{
    margin-top: 50px;
    background-color: gray;
    color: white;
    border-radius: 20px;
    padding: 25px;
}

.h3_content{
    padding-bottom: 20px;
}

.content ul li{
    margin-left: 50px;
    list-style: disc;
}

h3{
    text-transform: uppercase;
}

canvas{
    margin-top: 50px;
}

.div_chat{
    position: fixed;
    bottom: 10%;
    right: 0;
    float: right;
    z-index: 3;
}

.btn_chat{
    position: relative;
    transform: rotate(90deg);
    transform-origin: right top 0;
    background-color: #FA6900;
    color: white;
    padding: 5px 20px 10px 20px;
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1em;
    text-transform: uppercase;
    transition-duration: 0.4s;
}

.btn_chat:hover{
    color: #363842;
}

.chat_window{
    position: relative;
    border: 5px solid #FA6900;
    border-radius: 10px;
    background-color: #5b5b5c;
    padding: 20px;
    font-size: 0.6em;
    text-transform: lowercase;
    font-weight: lighter;
    width: 250px;
    height: 500px;
}

.chat_window #inpClient{
    float: right;
    bottom: 0;
}

.chat_window #messages{
    height: 200px;
}


